<h1 class="panel__h1">Create Posts</h1>


<form action="/create" method="POST" class="panel__form">
    <div class="form__ground">
        <label for="title">Title</label>
        <textarea name="title" id="text"  rows="2"></textarea>
    </div>
    <div class="form__ground">
        <label for="description">Description</label>
        <textarea name="description" id="text"  rows="4"></textarea>
    </div>
    <div class="form__ground">
        <label for="detail">Detail</label>
        <textarea name="detail" id="text"  rows="10"></textarea>
    </div>
    <div class="form__ground">
        <label for="src">src</label>
        <textarea name="src" id="text"  rows="1"></textarea>
    </div>
    <div class="form__ground">
        <label for="category">category</label>
        <textarea name="category" id="text"  rows="1"></textarea>
    </div>
    
    <button type="submit">SumnitHome</button>
    
</form>

