<body>
    <div class="admin">
        <h1 class="admin__heading"> WelCome Boss</h1>
        <form  id="admin__form" class="admin__form"  >
            <div class="form__groud">
                <label for="admin" class="admin__label">Admin</label>
                <input type="text" class="admin__input" id="admin" name="admin">
            </div>
            <div class="form__groud">
                <label for="admin" class="admin__label">PassWord</label>
                <input type="password" name="password" id="password" class="admin__input" autocomplete="off">
            </div>
                
            <button class="button1 button" type="submit">Login</button>
        </form>
        
    </div>
    <script src="/js/fecth.js"></script>
</body>
    

