<div class="admin">

    <h1 class="admin__heading"> WelCome Boss</h1>
    <form action="/duong/register" method="POST" class="admin__form">
        <div class="form__groud">
            <label for="admin" class="admin__label">Admin</label>
            <input type="text" class="admin__input" name="admin">
        </div>
        <div class="form__groud">
            <label for="admin" class="admin__label">PassWord</label>
            <input type="password" class="admin__input" name="password">
        </div>
            
        <button class="button1 button" type="submit">Register</button>
    </form>
     
</div>