<h1 class="panel__h1">Panel nodejs</h1>


<form action="/node/create" method="POST" class="panel__form">
    <div class="form__ground">
        <label for="title">Title</label>
        <textarea name="title" id="text"  rows="10"></textarea>
    </div>
    <div class="form__ground">
        <label for="description">Description</label>
        <textarea name="description" id="text"  rows="10"></textarea>
    </div>
    <div class="form__ground">
        <label for="detail">Detail</label>
        <textarea name="detail" id="text"  rows="10"></textarea>
    </div>
    
    <button type="submit">Sumnit</button>
</form>