<section class="homepage">
    <article class="home__article">
        <h1 class="home__h1">Những gì mình biết, mình làm với NodeJs</h1>
        <div class="home__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quasi. Non ut fugiat quibusdam quas saepe est consequatur sint in fuga sapiente, nesciunt tempore id repellat, ea pariatur possimus quod!Loreml
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique non sit, inventore architecto nam laboriosam. Consequuntur, delectus! Hic dicta et quos excepturi, quae corporis sapiente eligendi facere autem, ab quasi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quasi. Non ut fugiat quibusdam quas saepe est consequatur sint in fuga sapiente, nesciunt tempore id repellat, ea pariatur possimus quod!Loreml Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, aspernatur. Vel iure, beatae alias amet dicta delectus nostrum, ad, saepe tempora cumque illum officia! Reprehenderit labore suscipit laboriosam nulla vel?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, aspernatur. Vel iure, beatae alias amet dicta delectus nostrum, ad, saepe tempora cumque illum officia! Reprehenderit labore suscipit laboriosam nulla vel?
        </div>
    </article>
</section>