<section class="homepage">
    
    <h1 class="home__h1">Tất tần tật về NodeJs</h1>
        
 {{#each posts}}   
    
        <article class="home__article">
            <a href="/node/{{this.slug}}" target="_blank">
                <h1> {{this.title}}</h1>
                <div class="wrap">
                    <div class="atical__img" style="background-image: url('http://localhost:3000/img/{{this.src}}.png');"></div>
                    <p class="new">{{this.description}}</p>
                </div>
                
                
            </a>
        </article>
 
        
    {{/each}}
</section>