:root{
    --first-color : #000;
    --header-height: 3.5rem;
    --font-semi: 600;
    --font-medium: 700;
    --second-color: rgb(226, 14, 14);
    --three-color: #3d3c3c;
    --body-font : 'Roboto Slab', serif;
    --big-fontsize : 2rem;
    --h2-fontsize : 1.12rem;
    --normal-fontsize: 0.938rem;

    --mb-1: 0.5rem; /*8*/
    --mb-2: 1rem;   /*16*/
    --mb-3: 1.5rem; /*24*/
    --mb-4: 2rem;   /*32*/
    --mb-5: 2.5rem; /*40*/
    --mb-6: 3rem;   /*48*/
    
}
@media screen and (min-width : 768px){
    :root{
        --big-fontsize : 3.5rem;
        --h2-fontsize : 2rem;
        --normal-fontsize: 1.25rem;
    }
}

*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-fontsize);
    color: var(--three-color);
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
a{
    text-decoration: none;
    color: var(--three-color);
    display: block;
}

/* class css */
.section{
    margin-top: var(--mb-6);
}
.section__title{
    padding-top: var(--mb-3);
    font-size: 27px;
    color: #222222;
}
.section__title:hover{
    color: var(--second-color);
    opacity: 0.8;
}
.section__article{  
    border-bottom: 1px dashed #d1cccc;  
}
.section__wrap{
    padding: var(--mb-4) 0;
    margin: var(--mb-2) 0;
}
.section__description{
    display: flex;
    line-height: 35px;
    font-size: 20px;
    color: #131313;
    font-weight: 300;
}
.section__img{
    width: 140px;
    margin-right: var(--mb-4);
    border-radius: var(--mb-1);
    
}


/* layout */
.bd-grid{
    max-width: 750px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #000;
    box-shadow: 0 1px 4px rgba(146,161,176, 0.2);
}
/* nav */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-medium);
    max-width: 80%;
    
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    position: relative;
    color: #fff;

}
.nav__link:hover{
    position: relative;
}
.nav__link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2.5rem;
    background-color: var(--second-color);
}
.nav__logo{
    color: var(--second-color);

}
.nav__toggle{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--second-color);
}
.marginTop{
    margin-top: 3.5rem;
}

/* btn */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: 900;
    border-radius: 0.5rem;
    font-size: var(--mb-3);
}

/* footer */
.footer__title{
    font-size: 2rem;
}
.footer__icon{
    font-size: 1.5rem;
    color:var(--second-color);
    margin: 0 var(--mb-2);
    cursor: pointer;
}
.footer__icon:hover{
    color:blue;
    
}
.footer{
    background-color: var(--first-color);
    color: var(--second-color);
    text-align: center;
    font-weight: var(--font-semi);
    padding: 1rem 0;
    margin-top: var(--mb-6);
}


/* Banner */
.banner{
    background-color: #000;
    margin-top: 3.5rem;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.banner__heading{
    color: var(--second-color);
    font-size: var(--mb-5);
    text-align: center;
}
.banner__heading-description{
    display: block;
    font-size: var(--mb-3);
    font-weight: 100;
    padding-top: var(--mb-5);
}




























/* tablet */
@media screen and (min-width : 768px){
    body{
        margin: 0;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);

    }
    .nav__list{
        display: flex;
        padding-top: 0;
    }
    .nav__item{
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__link{
        color: var(--second-color);
    }
    .nav__toggle{
        display: none;
    }
    
}
/* computer */
@media screen and (min-width : 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    
    
}

/* Mobile */
@media screen and (max-width : 768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: 0.3s;
    }
    
    .nav{
        max-width: 100%;
    }
    .section{
        margin: 0;
    }  
    .section__description{
        display: inline;    
        line-height: 25px;
        font-size: 16px;
        color: #131313;
    }
    .section__img{
        float: left;
        margin-right: 16px;
        width: 100px;
        height: 79px;
    }
    
    
}
.show{
    right: 0;
}
