
    <div class="page__404">
        <div class="text">
            <h1>Ố .... ồ hình như đã có lỗi xảy ra  ! </h1>
            <h1 class="danger">Trang bạn tìm hiện không có </h1>
            <p> Không sao cả <a href="/">Bấm vào đây trở về trang chủ </a> <div class="span">và tiếp tục khám phá nhé người bạn</div></p>
        </div>
        <img src="/img/404.gif" alt="404 not found" srcset="">
    </div>
