<section class="bd-grid home">
    <h1>this is home gage</h1>

    <form action="/post" method="POST">
    <textarea name="content" id="content" cols="30" rows="10"></textarea>

    <button class="button" type="submit">Post</button>
    </form>

    <a href="./siteHome" target="_blank">siteHome</a>

</section>