<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&display=swap" rel="stylesheet">
        
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon"  href="/img/favicon.png">
    <link rel="icon" type="image/gif" href="/img/favicon.png">
    
    <link rel="stylesheet" href="/css/main.css" > 
    <link rel="stylesheet" href="/css/{{ style }}" > 
    <title>{{title}}</title>
    
</head>
<body>
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="/" class="nav__logo">XYZABC</a>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/node" class="nav__link ">Nodejs</a></li>
                    <li class="nav__item"><a href="/javascript" class="nav__link">Javascript</a></li>
                    <li class="nav__item"><a href="/cacadin" class="nav__link">CSS</a></li>
                    <li class="nav__item"><a href="/html" class="nav__link">HTML</a></li>
                    <li class="nav__item"><a href="/aboutme" class="nav__link">About Me</a></li>
                </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header> 
    
    <main>
        <section class="bd-grid">
             {{{body}}}
        </section>
        
    </main>
    <footer class="footer">
        <p class="footer__title">XYZABC</p>

        <div class="footer__social">
            <a href="#" class="footer__icon"><i class='bx bx-mail-send' ></i></a>
        </div>
        <p>&#169; 2021 copyright all reserved</p>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>