<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel="stylesheet" href="/css/panel.css" type="text/css">
</head>
<body>
    <h1>this is panel</h1>
    <a href="/node/up-del">Node update</a>
    {{{body}}}
</body>
</html>